$background: #27232c;
$primary: #717dea;
$lightPrimary: #bec3e0;
$darkPrimary: #25394b;
$error: #ff8989;
$white: #ffffff;
$gray: #808080;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;