@import '../../app/variables.scss';
@import '../../app/mixins.scss';

.footer-wrapper {
    background-color: $background;
    scroll-margin-top: 8rem;

    .footer {
        @include max-width;
        @include flex-center;
        flex-direction: row;
        padding-top: 9rem;
        padding-bottom: 2.5rem;
        gap: 6rem;
        text-align: center;
        position: relative;

        .box {
            position: absolute;
            top: -5rem;
            left: 2rem;

            @include device(tablet) {
                display: none;
            }
        }

        h2 {
            font-size: 5.6rem;
            color: $primary;
            max-width: 50rem;

            @include device(mobile) {
                font-size: 2.6rem;
            }
        }

        .copy {
            font-size: 1.4rem;
            color: rgba($white, 0.5);
        }

        .contact {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                li {
                    margin: 10px 0;
                    display: flex;
                    align-items: center;

                    .icon {
                        margin-right: 10px;
                        color: $primary;
                    }

                    a {
                        color: $primary;
                        text-decoration: none;
                        transition: color 0.3s;

                        &:hover {
                            color: lighten($primary, 10%);
                        }
                    }
                }
            }
        }
    }
}